{% extends 'base.html.twig' %}

{% block title %}Hello EquipeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    <h1 class="text-white bg-dark">la liste de toutes les annonces </h1>
    <table class="table table-responsive table-sm">
        <tr>
            <td> ID </td>
            <td> Titre</td>
            <td> Annonce </td>
             <td> Date d'ajout </td>
            
          
 
        </tr>  
    {% for a in annonces %}
       <tr>
           <td>{{ a.id }}</td> 
           <td>{{ a.titre }}</td>
           <td>{{ a.contenu }}</td>
           <td>{{ a.Date ? a.Date|date('Y-m-d') : '' }}</td>
           <td><a href="{{path('edit_annonce',{'id':a.id})}}"><i class="fas fa-edit"></i></a></td>
           <td><a href="{{path('show_annonce',{'id':a.id})}}"><i class="fas fa-eye"></i></a></td>
           <td><a href="{{path('sup_annonce',{'id':a.id})}}"><i class="fas fa-trash-alt"></i></a></td>
                    
        </tr>
    {% else %}   

  <h2> la table annonce est vide </h2>
    {% endfor %}
    </table>
    <p><a href="{{path('add_annonce')}}">Ajouter Annonce</a></p>
</div>
{% endblock %}
