{% extends 'base.html.twig' %}

{% block title %}Hello EquipeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-white bg-dark">liste de tous les statuts</h1>
    <table class="table table-dark">
        <tr>
            <td> ID </td>
            <td> Nom</td>
          
 
        </tr> 
    {% for s in statuts %}
       <tr>
           <td>{{ s.id}}</td>
           <td>{{ s.nom}}</td>
           <td><a href="{{path('show_statut',{'id':s.id})}}"><i class="fas fa-edit"></i></a></td>
           <td><a href="{{path('edit_statut',{'id':s.id})}}"><i class="fas fa-eye"></i></a></td>
           <td><a href="{{path('sup_statut',{'id':s.id})}}"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
    {% else %}   

  <h2> la table equipe est vide </h2>
    {% endfor %}
    </table>
    <p><a href="{{path('add_statut')}}">Ajouter un statut</a></p>
</div>
{% endblock %}
